@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo {
    width: 5vw; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B8B68F;
    padding: 1vw; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    padding: 1vw; 
}

a {
    color: black;
    text-decoration: none;
    font-size: 1em;
    font-family: 'roboto condensed';
}

a:hover {
    color: olivedrab;
}

h1 {
    padding-top: 2vw; 
    margin-left: 1vw; 
    font-family: 'roboto condensed';
    font-size: 2vw; 
    font-weight: 300;
}

.linha-vertical {
    border-bottom: 0.2vw solid #D0C0A7; 
    margin-left: 1vw; 
    margin-right: 1vw; 
}

.quadros-index {
    width: 20%;
    margin-top: 1vw; 
    margin-left: 1vw; 
    float: right;
    margin-right: 4vw; 
}

.container p {
    padding: 5vw; 
    font-size: 1.5vw; 
    font-family: 'roboto condensed';
    font-weight: 300;
}

.button {
    text-align: center;
}

button {
    width: 10vw; 
    height: 3em;
    border-radius: 1px 1em;
    border: none;
    color: rgb(229, 243, 213);
    font-family: 'roboto condensed';
    background-color: #B8B68F;
}

main {
    background-color: #EBE6D2;
    margin: 0;
    padding-bottom: 5vw; 
}

footer {
   background-color: #B8B68F;
    padding-top: 0.5vw; 
    display: flex;
}

.icon img {
    width: 3vw; 
    float: left;
    margin-left: 2vw; 
    padding-right: 0.5vw; 
    display: block;
}

span {
    display: block;
    padding: 1vw; 
}

.p-footer {
    width: 8%;
    height: 10%;
    padding-left: 4.8vw; 
    text-align: justify;
    display: flex;
    box-sizing: border-box;
    margin-right: 8vw; 
    float: right;
    font-family: 'roboto condensed';
}

.quadros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.produto {
    font-family: 'roboto condensed';
    display: inline-block;
    margin: 1vw; 
    padding: 2vw; 
}

.produto img {
    width: 10vw; 
}

.produto li {
    list-style-type: none;
}

.preco {
    font-family: 'roboto condensed';
}

h2 {
    font-family: 'roboto condensed';
    font-weight: 300;
}

section {
    background-color: #EBE6D2;
    padding-bottom: 2vw; 
}

.depoimentos img {
    width: 4vw; 
    float: left;
    margin-left: 1vw; 
    padding-right: 0.5vw; 
    display: flex;
    float: right;
}

.depoimentos {
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.cliente {
    padding-right: 2vw; 
    display: flex;
    align-items: center;
}

.cliente img {
    display: flex;
}

.depoimentos p {
    margin-right: 4vw; 
    padding: 1vw; 
    font-family: 'roboto condensed';
    font-weight: 300;
    height: 4em;
    width: 15em;
    text-align: justify;
}

h3 {
    padding-top: 8vw; 
    text-align: center;
    font-family: 'roboto condensed';
}

form {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.form {
    max-width: 30%;
    font-family: 'roboto condensed';
    padding: 3vw; 
    margin: 2vw; 
    display: inline-block;
    border: 0.1vw solid #B8B68F; 
    border-radius: 1px 1em;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1); 
}

.mensagem {
    font-family: 'roboto condensed';
    padding: 4vw; 
    display: block;
    align-items: center;
    border-radius: 1px 1em;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1); 
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select,
input[type="number"] {
    border: none;
    border-radius: 1vw; 
}

input[type="submit"] {
    width: auto;
    padding: 1vw 2vw; 
    background-color: #B8B68F;
    color: black;
    border: none;
    border-radius: 1px 1em;
    align-items: center;
    margin-top: 3vw; 
}

input[type="submit"]:hover {
    background-color: olive;
}

textarea {
    width: 100%;
    padding: 1vw;
    margin: 0.5vw 0;
    border: 0.1vw solid #ccc; 
    border-radius: 1vw; 
    box-sizing: border-box;
}

fieldset {
    width: 80%;
    margin: 0 auto;
    padding: 2vw; 
    border: 0.1vw solid #ccc; 
    border-radius: 1vw; 
    font-family: 'roboto condensed';
}

p {
    font-family: 'roboto condensed';
    font-size: 1.5vw; 
    margin: 1vw;
}
 